/* Основные стили для карты */
#map {
    height: 80vh; /* Высота карты занимает 80% высоты окна */
    width: 100%;
    position: relative;
}

/* Стили для ввода и кнопки */
#controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Элементы управления располагаются поверх карты */
}

input[type="text"], button {
    padding: 10px;
    margin: 5px 0;
    width: 80vw; /* Ширина элементов управления занимает 80% ширины окна */
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    /* Увеличение размеров текста для ввода и кнопок на мобильных устройствах */
    input[type="text"], button {
        font-size: 18px;
    }

    /* Увеличение отступов внутри ввода и кнопок на мобильных устройствах */
    input[type="text"], button {
        padding: 12px;
    }
}

/* Медиазапросы для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    input[type="text"], button {
        font-size: 20px;
        padding: 14px;
    }
}

/* Медиазапросы для больших экранов */
@media (min-width: 1025px) {
    input[type="text"], button {
        font-size: 22px;
        padding: 16px;
    }
}