/* Основные стили для карты */
#map {
    height: 500px;
    width: 100%;
}

/* Стили для ввода и кнопки */
input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    /* Уменьшение высоты карты для мобильных устройств */
    #map {
        height: 300px;
    }

    /* Увеличение размеров текста для ввода и кнопок на мобильных устройствах */
    input[type="text"], button {
        font-size: 18px;
    }

    /* Увеличение отступов внутри ввода и кнопок на мобильных устройствах */
    input[type="text"], button {
        padding: 12px;
    }
}

/* Медиазапросы для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    #map {
        height: 400px;
    }

    input[type="text"], button {
        font-size: 20px;
        padding: 14px;
    }
}

/* Медиазапросы для больших экранов */
@media (min-width: 1025px) {
    #map {
        height: 600px;
    }

    input[type="text"], button {
        font-size: 22px;
        padding: 16px;
    }
}