body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 25%;
    min-width: 200px;
    padding: 10px;
    background: #f1f1f1;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

#map {
    flex: 1;
    height: 100vh;
}

.input-container {
    margin-bottom: 10px;
}

.image-list {
    list-style: none;
    padding: 0;
}

.image-list li {
    margin-bottom: 5px;
}

.image-list li a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.image-list li a:hover {
    text-decoration: underline;
}
